PUID=1000
PGID=110000
LOSSLESS_VALIDATOR_PORT=8090

LOSSLESS_VALIDATOR_IMAGE=git.spacechips.it/chips/lossless-validator
LOSSLESS_VALIDATOR_VERSION=0.1.0

MEDIA_ROOT=/mnt/media
LOSSLESS_SOURCE_ROOTS=/data/downloads/soulseek:/data/music/legacy
