PUID=1000
PGID=110000
LOSSLESS_VALIDATOR_PORT=8090

LOSSLESS_VALIDATOR_IMAGE=git.spacechips.it/chips/sonic-sentry
LOSSLESS_VALIDATOR_VERSION=0.1.0

MEDIA_ROOT=/mnt/media
LOSSLESS_SOURCE_ROOTS=/data/downloads/soulseek:/data/music/legacy


# Album file workflow (disabled until all bind mounts exist)
LOSSLESS_FILE_OPERATIONS=false
LOSSLESS_AUTO_ROUTE=false
LOSSLESS_MOVABLE_ROOTS=/data/downloads/soulseek:/data/music/legacy:/data/music/validator/quarantine:/data/music/validator/rejected
LOSSLESS_STAGING_ROOT=/data/music/validator/staging
LOSSLESS_QUARANTINE_ROOT=/data/music/validator/quarantine
LOSSLESS_REJECTED_ROOT=/data/music/validator/rejected

LOSSLESS_INBOX_HOST=/mnt/media/downloads/soulseek
LOSSLESS_LEGACY_HOST=/mnt/media/music/legacy
LOSSLESS_STAGING_HOST=/mnt/media/music/validator/staging
LOSSLESS_QUARANTINE_HOST=/mnt/media/music/validator/quarantine
LOSSLESS_REJECTED_HOST=/mnt/media/music/validator/rejected
